/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2021. gada 26. marts, 21:22:48
    Author     : Elisa
*/
body {
    background-image: url("https://www.esa.int/var/esa/storage/images/esa_multimedia/images/2020/05/snow_mass/22027413-1-eng-GB/Snow_mass_pillars.jpg");
}
body {
    color: purple;
}
